*{
	font-family: Verdana, sans-serif;
	color: #2e0a06;
	text-align: center;
}

header{
	background-color: #95BFA4;
	margin: 15px;
	padding-top: 45px;
}

h1{
	font-family: Georgia; 
	font-weight: bold;
	font-size: 35pt;
	float: center;
}

.header3{
	font-size: 18px;
	color: #7a2904;
	margin: 10px;
	float: left;
}

.border{
	border: solid;
	border-style: double;
	border-color: #ad6915;
}

.qa{
	background-color: #95BFA4;
}

h3{
	color: #7a2904;
	margin: 30px;
	border: solid;
	border-style: double;
	border-color: #ad6915;
  	display: inline-flex;

}

body{
	background-color: #FFF8EE;
	width: 1000px;
	margin: 0 auto;
}

nav {
	font-weight: bold;
	color: #7a2904;
	background-color: ##F2C6C2;
	padding: 10px;
	margin: 10px;
}

li {
	display: inline;
	padding: 5px;
}

section {
	overflow: auto;
	height: 100%;
}

div{
	background-color: #F2E8DF;
	padding: 15px;
	margin: 10px;
	width: 950px;
	float: center;
}

p{
	color: #7a2904;
}

article{
	background-color: #F2E8DF;
	padding: 10px;
	margin: 10px;
	width: 200px;
	float: center;
}

.qaformat{
	margin-top: 50px;
	background-color: #F2E8DF;
	padding: 10px;
	margin: 10px;
	float: center;
	line-height: 45px;
}

.article{
	background-color: #F2E8DF;
	padding: 10px;
	margin: 10px;
	width: 200px;
	float: center;
}

.qabold{
	font-weight: bold;
}

footer{
	margin-top: 50px;
	background-color: #F2E8DF;
	padding: 10px;
	margin: 10px;
}